flask==2.3.3
flask-cors==4.0.0
Werkzeug==2.3.7
tensorflow==2.13.0
numpy==1.24.3
pillow==10.0.0
gunicorn==21.2.0
python-dotenv==1.0.0
scikit-learn==1.3.0
nltk==3.8.1
cohere==5.3.3
fastapi==0.103.1
uvicorn==0.23.2
pypdf==3.16.4
beautifulsoup4==4.12.2
gdown==4.7.1
pydantic==2.3.0
httpx==0.24.1